{% extends "base.html" %}




{% block content %}

    {% if memeurl %}
        {% if m_type == "image" %}
            <img class="meme" src="{{ memeurl }}">
        {% elif m_type == "video" %}
             <video controls autoplay loop>
              <source src="{{ memeurl }}" >
            </video>
        {% endif %}

        {% if logged_in() %}

        <div>

        <div id="dislike" onclick="rate({{ memeID }} , 1)" title="Dislike">
            dislike
        </div>
        <div id="like" onclick="rate({{ memeID }} , 2)" title="Like">
            like
        </div>

        </div>

        {% endif %}

    {% else %}
        You have seen all the memes we have!
    {% endif %}


    <script>

        window.addEventListener("keydown", function (event) {
  if (event.defaultPrevented) {
    return; // Do nothing if the event was already processed
  }

  switch (event.key) {
    case "ArrowDown":
      // code for "down arrow" key press.
      break;
    case "ArrowUp":
      // code for "up arrow" key press.
      break;
    case "ArrowLeft":
      // code for "left arrow" key press.
        rate({{ memeID }} , 1)
        event.preventDefault();

      break;
    case "ArrowRight":
      // code for "right arrow" key press.
        rate({{ memeID }} , 2)
        event.preventDefault();
      break;
    default:
      return; // Quit when this doesn't handle the key event.
  }

  // Cancel the default action to avoid it being handled twice
}, true);

    </script>

{% endblock %}


