{% extends "base.html" %}




{% block content %}

    {% if memeurl %}
        <img class="meme" src="{{ memeurl }}">

        {% if logged_in() %}

        <div>

        <div id="dislike" onclick="rate({{ memeID }} , 1)" title="Dislike">
            dislike
        </div>
        <div id="like" onclick="rate({{ memeID }} , 2)" title="Like">
            like
        </div>

        </div>

        {% endif %}

    {% else %}
        You have seen all the memes we have!
    {% endif %}


{% endblock %}


