<html>
<head><title>Privacy Policy</title></head>

{% filter markdown %}
Privacy Policy
=============
    Information We Collect

There are three basic categories of information we collect:

    Information you choose to give us

    Information we get when you use our services

    Information we get from third parties

Here’s how we collect your information.
How We Collect Information
Information You Choose To Give Us

When you use and interact with our services, we collect the information you choose to share with us. For example, most of our services require you to set up a basic Swepe account, so we need to collect a few important details about you, such as: a unique username you choose, a password, an e-mail address, and your date of birth. To make it easier for others to find you, we may also ask you to provide us additional information that will be publicly visible on our services, for example a profile picture, a name, or other identifiable information. Our other services, such as commerce products, may also require you to provide us with a debit card or credit card number and its associated account information.

You’ll also provide any information you send through our services, such as post and comment uploads. Keep in mind that the posts and comments you upload can be seen publicly, and can always be saved and copied outside of our services. Please don’t share content you wouldn’t want someone to save or share.

Lastly, when you contact us or communicate with us in any way, we’ll collect any information you give us.
Information We Get When You Use Our Services

When you use our services, we collect information about which services you use and how you use them. For example, we may know what section or post you are reading, when you’re reading it, and how you’re reading it (desktop, mobile browser, or mobile app). Here’s a more detailed explanation of the information we collect when you use our services:

Usage Information. We collect information about your activity through our services. For example:

    How you interact with our services, such as what sections you look at, what you search for, what posts and comments you upload, or what posts and comments you upvote or downvote.

Content Information. We collect content you create on our services. For example:

    The images, videos, and text you upload

We also collect information about the content you create. For example:

    When you created the content

    Where you created the content

    How you created the content such as device information

We also collect information about how other users interact with your content. For example:

    Post upvotes and downvotes

    Comments and comment upvotes and downvotes

Device Information. We collect information from and about the devices you use. For example:

    Information about your hardware and software, such as hardware model, operating system version, device memory, advertising identifiers, unique application identifiers, unique device identifiers, and language.

    Information about your wireless and mobile network connections, such as your type of network connection.

Camera and Photos. Some of our services require us to collect images and other information from your devices’s camera and photos. For example, you won’t be able to upload images or videos from your camera roll unless we can access your camera or media library.

Location Information.  When you use our services, we may collect information about your location. With your permission, we may also collect information about your precise location using methods that include GPS, wireless networks, and Wi-Fi access points.

Information Collected by Cookies and Other Technologies. We may use cookies and other technologies such as web beacons, web storage, and unique advertising identifiers to collect information about your activity, browser, and device. We may use these technologies to collect information when you interact with services we offer through one of our partners, such as advertising and commerce features. Most web browsers are set to accept cookies by default. It is up to you to move or reject browser cookies through the settings on your browser or device. Removing or rejecting cookies may affect our service function and availability.

Log Information.  We also collect log information when you use our services. For example:

    Details about how you’ve used our services.

    Device information, such as web browser type and language.

    Access times.

    Pages and content viewed.

    IP address.

    Identifiers associated with cookies or other technologies that may uniquely identify your device or browser.

    Pages you visited before or after visiting our website or using our service.

Information We Collect From Third Parties

We may collect information from our affiliates and third parties. For example:

    If you use your Google or Facebook account to sign up or sign in to our services, we may receive information so you can create or access your Swepe account.

    If you interact with one of our advertisers, they may share information with us to help target or measure ad performance.

How We Use Information

We use your information to provide you with the best products and services we can build and improve. Here’s what we use this information for:

    To develop, maintain, improve, deliver, and protect our products and services.

    Monitor and analyze trends and usages of our products and services.

    Send you communications, including by e-mail. Examples include using e-mail to respond to support inquiries, or to share information about our products, services, and promotional offers that we think may interest you.

    Personalize our services by showing you better and more relevant content.

    Provide ad targeting and measurement, including the use of your precise location information to show relevant ads.

    Enhance and enforce the safety and security of our products and services.

    Verify your identity and prevent fraud, or other unauthorized and illegal activity.

    Use information we’ve collected cookies and other data to enhance our services and products.

    Enforce our Terms of Service, Community Rules, and other usage policies.

How We Share Information

We may share information about you in the following ways:

With other Swepe Users. We may share information with other Swepe users. Examples include:

    Information about you, such as your name, username, and profile pictures.

    Information you upload, such as image or video posts.

    Information about how you interacted with our services, such as the content you post, the comments you post, and the content you upvote.

With all Swepe Users, our business partners, and the general public. We may share information with all Swepe users, our business partners, and the general public. Examples include:

    Public information like your name, username, and profile pictures.

    Content submissions set to be viewable by everyone.

    Content from our services that you share on other services, such as Facebook or Pinterest.

With third parties. We may share your information with third parties. Examples include:

    With service providers. We may share information about you with service providers who perform services on our behalf.

    With business partners. We may share information about you with business partners that provide services and functionality.

    With third parties for legal reasons.  We may share information about you if we reasonably believe that disclosing the information is necessary. Examples include:

        To comply with any valid legal process, governmental request, or applicable law, rule or regulation.

        To investigate, enforce, or remedy potential Terms of Service violations

        To protect the safety, rights, and property of Swepe, our users, or others.

        To detect and resolve any fraud or security matters or concerns.

    With third parties as part of a merger or acquisition. If Swepe Limited gets involved with a merger, asset sale, financing, liquidation, bankruptcy, or acquisition of all or some portion of our business to another company, we may share your information with the company before, during, and after the transaction.


Analytics provided by Google

    We use Google Analytics to track your usage of the App and improve our services. Google's usage of that data is governed by their policies. See https://policies.google.com/technologies/partner-sites for example.


Swepe stores your information, the posts you upload, and the comments you upload for a period of time. For example:

    We store your basic account information, including your name, username, and email address until you ask us to delete them

    We store location information for different lengths of time based on how precise it is and which services you use.

    We are constantly collecting and updating information about the things you like or dislike, so we can provide you with more relevant data, more relevant ads, and a better user experience.

If you decide to stop using Swepe, you can ask us to delete your account.

There may be legal requirements to store your data and we may need to suspend those deletion practices if we receive a valid legal process or request asking us to preserve that content, or if we receive reports of abuse or other Terms of Service Violations. We may also need to retain certain information in backup for a limited period of time, or as required by law.
Control over Your Information

At Swepe, your privacy is important to us. We want you to have control over the information you give us, the information we use, and the information we keep. These are the tools we provide you to control your information:

    Download My Data. You can request your data to be sent to you.

    Removing Permissions. If you agree to let us use your information, you can change your mind at any time by changing the settings on your device. If you remove permission, certain services may be impacted and may lose functionality.

    Deletion. We hope you remain a Swepe user for life, but if you want to delete your account, please contact us.

Our Policy on Children’s Information

We do not knowingly collect personal information from anyone under 16. We may limit how we collect, use and store some of the information of EU or EEA users between ages 13 and 16. If we need to rely on consent as a legal bases for processing your information and your country requires consent from a parent, we may require your parent’s consent before we collect and use that information.


Revisions and Changes to the Privacy Policy

We may change this Privacy Policy from time to time. When we do, we will let you know by notifying you one way or another. We may let you know by revising the date at the top of this privacy policy, which is available on our websites and mobile applications. We may also provide additional notice, such as adding a statement to our homepage, or providing you with an in-app notification.


{% endfilter %}
</html>